<div class="footer-upper-contents">
  <%= link_to "GMM", root_path, class: "footer-title-text" %>
  <div class="footer-list-contents">
    <ul class="footer-lists">
      <h4 class="footer-list-title">Product</h4>
      <li class="footer-list-item"><a href="#">機能</a></li>
      <li class="footer-list-item"><a href="#">セキュリティ</a></li>
      <li class="footer-list-item"><a href="#">リソース</a></li>
      <li class="footer-list-item"><a href="#">ストーリー</a></li>
    </ul>
      <ul class="footer-lists">
      <h4 class="footer-list-title">Support</h4>
      <li class="footer-list-item"><a href="#">ヘルプ</a></li>
      <li class="footer-list-item"><a href="#">お知らせ</a></li>
      <li class="footer-list-item"><a href="#">お問い合わせ</a></li>
      <li class="footer-list-item"><a href="#">ご意見</a></li>
    </ul>
    <ul class="footer-lists">
      <h4 class="footer-list-title">Company</h4>
      <li class="footer-list-item"><a href="#">会社概要</a></li>
      <li class="footer-list-item"><a href="#">ブログ</a></li>
      <li class="footer-list-item"><a href="#">チーム</a></li>
      <li class="footer-list-item"><a href="#">ジョブ</a></li>
    </ul>
  </div>
</div>
<div class="footer-lower-contents">
  <div class="footer-small">
    <small class="small">@2021 GMM.inc</small>
  </div>
  <div class="footer-icons">
    <a href="#"><i class="fab fa-twitter footer-icon"></i></a>
    <a href="#"><i class="fab fa-facebook-square footer-icon"></i></a>
    <a href="#"><i class="fab fa-google footer-icon"></i></a>
  </div>
</div>