.room-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  background-color: #0f0f0;
  border-bottom: 1px solid lightgray;
}

.room-user-main {
  margin: 10px auto 0;
  width: 97%;
  display: flex;
  align-items: center;
  background-color: #fff;
}

.room-user-card {
  height: 300px;
  width: 100vw;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
}

.room-user-nickname {
  height: 37.5px;
  width: 90%;
  margin: 5px;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.room-user-profile {
  word-break: break-all;
  height: 37.5px;
  width: 90%;
  margin: 5px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.room-user-website {
  height: 37.5px;
  width: 90%;
  margin: 5px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.room-user-follow-contents {
  height: 37.5px;
  width: 80%;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.room-user-follow-counts a {
  margin-right: 5px;
  text-decoration: none;
  color: #000;
}

.room-user-follow-counts a:hover {
  opacity: 0.7;
  color: #000;
}

.room-user-follower-counts a {
  margin-left: 5px;
  text-decoration: none;
  color: #000;
}

.room-user-follower-counts a:hover {
  opacity: 0.7;
  color: #000;
}

.room-user-created {
  display: flex;
  justify-content: center;
  align-items: center;
}

.room-calender {
  margin-right: 5px;
}

.room-message-list {
  width: 97%;
  height: calc(100vh - 100px - 300px - 50px);
  border-top: 1px solid #ccc;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

.message-list {
  width: 100%;
  list-style: none;
  margin: 1px;
  display: flex;
  flex-direction: column;
}

.room-list-profile-content {
  width: 80px;
  box-sizing: border-box;
  padding: 0 5px;
}

.room-list-profile-content a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.room-list-username {
  font-size: 12px;
  line-height: 13px;
  margin-top: 2px;
  word-break: break-all;
  text-align: center;
  color: #000;
}

.room-list-username:hover {
  color: #000;
}

.room-list-main-content {
  width: calc(100% - 80px);
  display: flex;
  padding: 0 10px;
  box-sizing: border-box;
}

.room-list-content {
  height: 36px;
  width: 100%;
  padding: 12px 3px 3px 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.room-list-text {
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
} 

.room-list-created {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.message-delete-link {
  border-bottom: 1px solid #f0f0f0;
}

.room-footer {
  width: 100vw;
  height: 70px;
  display: flex;
  align-items: center;
}

.room-footer form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.room-message-form {
  width: 80%;
  padding: 3px;
}

.room-message-btn {
  margin-left: 10px;
  width: 10%;
  padding: 5px;
  background-color: #1877f2;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
}

.room-message-btn:hover {
  opacity: 0.7;
}