<header class="header">
  <%= render 'shared/header' %>
</header>
<div class="success-contents">
  <div class="success">
    <p>投稿が完了しました</p>
    <%= link_to '投稿一覧へ戻る', root_path, class: "success-btn" %>
  </div>
</div>